@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap");
:root {
  --primary-color: #0f7569;
  --primary-colorDark: #4b5757;
  --primary-bege:#e3e3d1;
  --primary-verde:#a8c030;
}
* {
  box-sizing: border-box;
  outline: 0;
}
body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.0em;
  line-height: 2.5em;
}
.container {
  max-width: 640px;
  margin: 20px auto;
  background-color: var(--primary-bege);
  padding: 20px;
  box-shadow: 6px 5px 10px var(--primary-verde);
  border: 1px solid var(--primary-verde);
  border-radius: 10px;
}





