@charset "UTF - 8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #046d8b,#309292,#ecbe13);
}
form.formulario{
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(81,43,43);
    background-color: white;
    width: 820px;
    padding: 10px;
    margin: auto;
}
p{
     color:#03045E;
    text-align: center;
}
.botao{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}